@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@400;600&family=Source+Serif+4:ital,opsz,wght@0,8..60,600;1,8..60,700&display=swap');
html{
    font-family: 'Noto Sans KR', sans-serif;
}

h1,h2 {
    /* font-family: 'Song Myung', serif; */
    font-family: 'Source Serif 4', serif;
}

.header{
    position: fixed;
    width:100%;
    top:0;
    padding: 1rem 0;
    box-sizing: border-box;
    background-color: rgba(248, 248, 248, 0.2);
    backdrop-filter: blur(40px);
    border-bottom: 1px solid black;
    z-index: 2;
}

.header ul{
    list-style: none;
    margin:0 auto;
    padding:0;
    display: flex;
    max-width: 1280px;
    gap: 2rem;
    align-items: center;
}

.header ul.mobile-display{
    display: none;
}


@media only screen and (max-width: 639px) {

    .header ul.mobile-display{
        display: flex;
    }

    .header ul.mobile-hidden{
        display: none;
    }
}

.header a{
    font-family: 'Source Serif 4', serif;
    font-size: 1rem;
    text-decoration: none;
    color:black;
    padding: 0.5rem 1rem;
    box-sizing: border-box;
    display: block;
}

.header a:visited{
    color:black;
}

.header a:hover{
    color:black;
}

.header a:active{
    color:blue;
}

.header .spacer{
    flex-grow:1;
}

.header #name{
    border: 1px solid black;
    font-family: 'Source Serif 4', serif;
    font-weight: 700;
    font-style: italic;

    border-radius: 50%;
}


.hero{
    width: 100vw;
    height: 100vh;

}

.hero-contents{
    position: absolute;
    top:50%;
    width: 100%;
    transform:translate(0,-50%);
    text-align: center;
    padding: 0 12vw;
    box-sizing: border-box;
}

.hero-contents h1{
    font-size: 5vw;
    /* text-transform: uppercase; */
    
}

.hero-contents h1 .hidden{
    display: none;
}


.hero-contents h1 img{
    height:4vw;
    position: relative;
}

.hero-contents h1 img.square{
    width:4vw;
    object-fit: cover;
}

.hero-contents h1 .background{
    background-size: cover;
    background-position: center;
    font-size: 3vw;
    padding: 0 1vw;
    font-family: 'Noto Sans KR', sans-serif;
    text-transform: uppercase;
    color:white;
}

.hero-contents h1 .seamless{
    background-image: url(../images/image_07.jpg);
}

.hero-contents h1 .visions{
    background-image: url(../images/image_09.jpg);
}

.hero-contents h1 img.bigger{
    height: 6.5vw;
    top:1.5vw;
}

.hero-contents i {
    color: #fb1d5c;
}

.container{
    max-width: 1280px;
    padding:0 1rem;
    margin: 0 auto;
}









/* about me */
.about-me{
    background-color: lightgray;
    padding: 4rem 0;

}

.about-me h2{
    text-align: center;
    margin-bottom: 2rem;
}

.about-me h3{
    margin-top: 0.5rem;
}

.cv{
    display: flex;
    flex-direction: row;
    gap: 1rem;

}

.career,.skills{
    border-top: 1px solid black;
    flex-grow: 1;
    flex-basis: 0;
}

.career ul{
    padding-left: 1.25rem;

}

.career li{
    line-height: 3rem;
    border-bottom: 1px solid black;
}

.career li div{
    display: inline-block;

}

.career li div.year{
    width: 6rem;
    font-weight: 700;
    font-family: 'Source Serif 4' , serif;
}

.skills ul{
    list-style: none;
    padding-left: 0;
}

.skills li{
    display: flex;
    gap: 1rem;
    align-items: center;
    margin: 1rem 0;
}

.skills .title{
    width: 8rem;
}

.skills .grade{
    flex-grow: 1;
    font-size: 0.75rem;
    text-align: right;
    border-bottom: 1px solid black;
}

.skills .icon{
    width: 3rem;
    height: 3rem;
    background-color: black;
    border-radius: 50%;
    color: white;
    fonr-size: 1.5rem;

    display: flex;
    align-items: center;
    justify-content: center;
}

.skills .gauge{
    height: 0.5rem;
    background-color: black;
    margin-top: 0.25rem;
}

.skills .advanced{
    width: 75%;
}

.skills .intermediate{
    width: 50%;
}

/* end of about me */

/* works */

.works h2{
    text-align: center;
}

.works-item img{
    flex-grow: 1;
    object-fit: cover;
}

.works-item p{
    margin-top:0;
}

.works-item h3,p{
    margin-left:1rem;
    margin-right:1rem;
}

.works-item{
    background: #eee;
    display: flex;
    flex-direction: column;
}

.works-container{
    display: grid;
    grid-template-columns: repeat(4, minmax(0, 1fr));
    grid-template-rows: repeat(2, minmax(0, 1fr));
    gap: 1rem;
}

.works-item.big{
    grid-row: 1/3;
    grid-column: 1/3;
}

@media only screen and (max-width: 1023px) {
    
    .works-container{

        grid-template-columns: repeat(2, minmax(0, 1fr));

    }

}

@media only screen and (max-width: 639px) {
    
    .works-container{

        grid-template-columns: repeat(1, minmax(0, 1fr));

    }

    .works-item.big{
        grid-row: 1/2;
        grid-column: 1/2;
    }

}

/*flex로 만들어준 애한테 flex 값 지정*/

@media only screen and (max-width: 639px) {
    
    .cv{
        flex-direction: column;

    }

}


/* end of works */

.footer{
    text-align: center;
}